/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 17/09/2022, 10:46:53 a. m.
    Author     : educu
*/


a:hover {
  border-bottom: 1px solid;
  background: #F5B43D;
}

a:focus {
  border-bottom: 1px solid;
  background: #13B3FF;
}

.actual{
    color: #F5B43D;
    border-bottom: 1px solid;
}

.margin-top{
    
    margin-top: 2rem;
}
