<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Cumbi Tienda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Esta es la web de inicio</div>
        <h1> Cumbinova</h1>
        <h2>Design or Innovation</h2>
        <p>Esta es una breve prueba de párrafo</p>
        <p>Este es otro párrafo</p>
        <p>Ya est\alisto localhost:8080</p>
        
    </body>
</html>
