<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Cumbi Tienda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    </head>
    <body>
        <div>Estilos de Botas</div>
        <h1>Este es el estilo de botas 2022</h1>
        <p>1. Botas con paraguas</p>
        <p>2. Botas con cachucha</p>
        <p>3. Botas con bar</p>
        <p>4. Botas para taxistas</p>
        <p>5. Botas para mascotas</p>
        <div>Hay que hacer esto con Boostrap</div>
        <p>5. Botas para serpientes</p>
        <p>5. Alpargatas serpientes</p>
         <p>5. Sombreros serpientes</p>
       
       <!--jscript-->  
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script> 
    </body>
</html>
